
<div class="card shadow mb-5 bg-white rounded" *ngIf="isLoad">
    <div class="card-header">
        <h3 class="title-card">{{typeStock.name}}</h3>
        <fa-icon [icon]="faXmark" class="icon-close" (click)="eliminaElemento(typeStock)"></fa-icon>
      </div>
    <div class="card-body">
         

            <div class="d-flex justify-content-start mb-3 flex-wrap">
           <div class="box-info">
                <p class="info-element-title"> {{ 'homePage.change-to-day' | translate }} 
                    <span class="info-element-value">{{typeStock.quote.d > 0 ? '+' : ''}}{{typeStock.quote.d}}%</span></p>
     
 
                <p class="info-element-title"> {{ 'homePage.current-price' | translate }}
                    <span class="info-element-value">{{typeStock.quote.c | currency}}</span></p>
      
           </div>

           <div class="box-info">
                <p class="info-element-title"> {{ 'homePage.opening-price' | translate }}
                <span class="info-element-value">{{typeStock.quote.o | currency}}</span></p>
       
                <p class="info-element-title"> {{ 'homePage.high-price' | translate }}
                    <span class="info-element-value">{{typeStock.quote.h | currency}}</span></p>
      
       
           </div>

           <div>
            <fa-icon [icon]="faArrowUp" class="up-arrow" *ngIf="typeStock.quote.d > 0; else elseBlock"></fa-icon>
            <ng-template #elseBlock>
                <fa-icon [icon]="faArrowDown" class="down-arrow"></fa-icon>
            </ng-template>
           </div>
        </div>
        </div>
    </div>
