
<div class="bodyContainer">
<div class="card shadow p-3 mb-5 bg-white rounded">
    <div class="card-body">
       

        <div class="row">
            <div class="col">
                <label for="stockSymbol" class="form-label">{{ 'label1' | translate }}</label>
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <input type="text" class="form-control uppercase" id="stockSymbol" [formControl]="symbolForm" maxlength="5">
                <div *ngIf="symbolForm.invalid && (symbolForm.dirty || symbolForm.touched)">
                    <div [hidden]="!symbolForm.errors?.['required']" class="alert alert-danger alertCustom">
                        {{ 'errorMessage1' | translate }}
                    </div>
            
                    <div [hidden]="!symbolForm.errors?.['maxlength']" class="alert alert-danger alertCustom">
                        {{ 'errorMessage2' | translate }}
                    </div>

                    <div [hidden]="!symbolForm.errors?.['pattern']" class="alert alert-danger alertCustom">
                        {{ 'errorMessage3' | translate }}
                    </div>

                    <div [hidden]="!symbolForm.errors?.['isSimbolNotFound']" class="alert alert-danger alertCustom">
                        {{ 'errorMessage4' | translate }}
                    </div>

                    <div [hidden]="!symbolForm.errors?.['isSimbolDuplicated']" class="alert alert-danger alertCustom">
                        {{ 'errorMessage5' | translate }}
                    </div>
                </div>

            </div>
            

            <div class="col-sm">
                <button type="button" class="btn btn-outline-primary" (click)="verificaSimbolo()">{{ 'button1' | translate }}</button>
            </div>
        </div>

    </div>
  </div>

  <ng-container *ngFor="let simbolo of symbolList">
    <app-current-quote [symbol]="simbolo" (eliminaEvento)="eliminaStock($event)"></app-current-quote>
</ng-container>
</div>





        

