/* You can add global styles to this file, and also import other style files */
.bodyContainer {
    padding-left: 26px;
    padding-right: 26px;
    padding-top: 26px;
}

.info-element-title {
    font-weight: 400;
    font-size: 16px;  
}

.info-element-value {
    font-weight: 600;
    font-size: 16px;
}

.box-info {
    padding-right: 20%;
}

.box-info-2 {
    padding-left: 18px;
    padding-top: 18px;
}

.up-arrow {
    color: green;
    font-size: 3em;
}

.down-arrow {
    color: red;
    font-size: 3em;
}

.icon-close {
    float: right;
    cursor: pointer;
}

.title-card {
    display: inline;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #F8F9FA;
    text-align: center;
    color: gray;
 }